*.o
*.lex.cpp
.*.swp
unittest
coverage/
debug/
release/
profile/
report/
dependency/
dobj/
dlib/
vera/
makefile_tmp
Makefile.extra
Makefile.config

aclocal.m4
autom4te.cache/
config.log
config.status
libtool
stamp-*
confdefs.h
config.h

build
*Config.h
